body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  background-color: #000000;
  padding: 20px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 150px;
  height: auto;
}

nav {
  margin-top: 20px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.game-block {
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.game-block img {
  width: 200px;
  height: auto;
}

.game-details {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-description {
  margin-bottom: 10px;
}

.play-button {
  text-align: right;
}

.play-button a {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.play-button a:hover {
  background-color: #45a049;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
